---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

//Element
$base-line-height: 1.5;
$background-color: #fdfdfd;
$project-border: 1px solid white;
$spacing-unit:     40px;

//text
$text-color:       #111;
$brand-color:      #ffffff;
$visiter-color:    #ffffff;
$text-shadow:1px 1px 10px black;
$hover-text-shadow: 4px 4px 20px black;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;


// Width of the content area
$content-width:    1920px;
$on-laptop:        800px;
$on-palm:          600px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
